@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&family=Roboto:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

nav {
    position: relative;
    display: flex;
    gap: 25vw;
    padding: 3em 6.5em;
    align-items: center;
    font-family: "Roboto";
    font-weight: 300;
    color: #838384;
}

nav>ul {
    display: flex;
    list-style-type: none;
    gap: 2em;
    align-items: center;
}

ul>li {
    display: inline-block;
    width: 80px;
}

nav>ul>li:first-child {
    color: #0a0300;
    font-weight: 700;
}

button.nav-button {
    align-self: flex-start;
    width: 180px;
    height: 50px;
    text-align: center;
    background-color: transparent;
    color: #62a8f3;
    border: 2px solid #62a8f3;
    font-size: 1rem;
    font-weight: 900;
    border-radius: 0.6em;
}

section.hero-section {
    margin-top: 3em;
    padding: 3em 4.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.hero-right{
    flex-basis: 50%;
}
div.hero-left,
div.hero-right {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}

div.hero-left>h1,
div.hero-right>h1 {
    font-family: "Roboto";
    font-size: 4rem;
    font-weight: 900;
    white-space: pre-line;
}

div.hero-left>p,
div.hero-right>p {
    white-space: pre-line;
    display: inline-block;
    /* margin-top: 50px; */
    /* margin-bottom: auto; */
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.7;
    color: #95a0ae;
    text-align: left;
    padding-right: 1.25em;
}

div.hero-left>button,
div.hero-right>button {
    margin-top: 3em;
    background: linear-gradient(to right, rgba(8, 180, 246, 1) 50%, rgba(6, 124, 238, 1) 100%);
    width: 200px;
    height: 50px;
    text-align: center;
    font-family: 'Roboto';
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 1rem;
    border-radius: 0.8em;
}

div.hero-left>img ,div.hero-right>img {
    width: 100%;
}

section.feature-section {
    display: flex;
    flex-direction: column;
    padding: 50px 75px;
}

div.feature-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.feature-header>h3 {
    white-space: pre-line;
    font-family: 'Roboto';
    font-size: 3rem;
    font-weight: 900;
}

div.feature-header>p {
    white-space: pre-line;
    font-family: 'Roboto';
    font-weight: 300;
    color: #abbdd1;
}

div.feature-grid {
    margin-top: 8em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 2.5em;
}

div.feature {
    display: flex;
    font-family: 'Roboto';
    flex-direction: column;
    gap: 0.8em;
}

div.feature>h3 {
    margin-top: 0.66em;
    font-size: 2.25rem;
    font-weight: 700;
}

div.feature>img {
    width: 50px;
    height: 50px;
}

div.feature>p {
    white-space: pre-line;
    color: #838384;
}

section.plans {
    padding: 3em 4.5em;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    color: #ffffff;
    background-color: #09b7f7;
}

div.packages {
    display: flex;
    gap: 2.5em;
    padding-bottom: 100px;
}

div.package {
    width: 500px;
    background-color: #ffffff;
    display: flex;
    outline: 2px solid black;
    flex-direction: column;
    padding: 3em 0px 3em 2.5em;
    color: #0a0300;
    outline: none;
    border: none;
    border-radius: 1.25em;
}

div.package h2 {
    font-family: 'Roboto';
    font-size: 1.5rem;
    font-weight: 900;
}

div.package p {
    margin-top: 1.25em;
    color: #838384;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 8em;
}

ul.plan-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    margin-bottom: 2em;
}

ul.plan-list>li {
    display: flex;
    gap: 0.8em;
    width: 350px;
    font-size: 1rem;
    font-weight: 500;
}
ul.plan-list>li::before{
    content: '\2713';
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    color: #008000;
    border: 2px solid #008000;
    text-align: center;
}
section.plans>h2 {
    align-self: center;
    font-size: 2.5rem;
    margin-bottom: 2.5em;
}

div.price{
   margin-left: 2em;
}

div.price>p{
    margin-left: 2em;
    margin-bottom: 2em;
    font-size: 1rem;
}

div.price span{
    color: #9ba1b1;
    font-size: 2rem;
    letter-spacing: 2px;
}

button.price-btn
{
    display: block;
    margin: 0 auto 0 0.8em;
    width: 180px;
    height: 50px;
    text-align: center;
    background-color: transparent;
    color: #62a8f3;
    border: 2px solid #62a8f3;
    font-size: 1rem;
    font-weight: 900;
    border-radius: 0.8em;
}

div.popular-head{
    background-color: #353535;
    color: #ffffff;
    padding-left: 0;
    display: flex;
    justify-content: center;
    padding-left: 1.25em;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 0.8em;
    height: 150px;
}

div.popular-head >p{
    padding: 0;
    margin: 0;
    margin-top: 0.8em;
}
div.packages>:nth-child(2)
{
    padding-top: 0;
    padding-left: 0;
}
div.popular-head~ul{
    margin-top: 4.25em;
    padding-left: 1.25em;
}

div.popular-head~ul~div{
    padding-left: 2em;
}
div.popular-head~ul~div>button{
    background: linear-gradient(to right, rgba(8, 180, 246, 1) 50%, rgba(6, 124, 238, 1) 100%);
    color: #ffffff;
}

section.review{
    display: flex;
    background-color: #fdfeff;
    flex-direction: column;
    align-items: center;
}

section.review>h1
{
    margin-top: 4em;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 3rem;
}
section.review>p{
    /* background-color: #fdfeff; */
    margin-bottom: 1.8em;
    white-space: pre-line;
    text-align: center;
    font-family: 'Roboto';
    font-size: 1rem;
    color: #a4aab8;
}
div.review-grid
{
    margin-top: 3em;
    display: grid;
    grid-template-columns: 650px 650px;
    gap: 1.25em;
    margin-bottom: 8em;
}

div.review-card{
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px 5px #f1f2f3;
    border: 2px solid #f1f2f3;
    padding: 2em;
    border-radius: 0.8em;
    gap: 2em;
}

div.author{
    position: relative;
    margin-left: 4.25em;
    font-family: 'Roboto';
}

div.author::before{
    content: '';
    height: 75px;
    width: 75px;
    background-color: #d9d9d9;
    border-radius: 50%;
    position: absolute;
    bottom: -17px;
    left: -89px;
}
div.content>p{
    font-size: 1rem;
    color: #6a728a;
}
div.author>h5{
    margin-bottom: 0.25em;
    font-size: 1rem;
}

section.register-card{
    color: #ffffff;
    padding: 8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #18c7f9, #00bbfb, #00adfd, #00a0fd, #0091fc, #0082f8, #0071f2, #045fe9);
    margin-bottom: 16em;
}

div.left-header>h2{
    font-family: "Roboto";
    white-space: pre-line;
    font-size: 3rem;
}

div.left-header>p{
    white-space: pre-line;
    font-size: 1.5rem;
    font-weight: 100;
    color: #b9defb;
}

button.register{
    margin-right: 3em;
    width: 180px;
    height: 50px;
    text-align: center;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 1rem;
    border-radius: 0.8em;
    font-family: 'Roboto';
}

footer{
    display: flex;
    font-family: 'Roboto';
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 8em;
}

div.left-footer>p{
    white-space: pre-line;
    color: #b0b5c1;
    line-height: 2;
}
div.mid-footer{
    display: flex;
    gap: 0.8em;
}
ul.footer-list{
    display: flex;
    gap: 1.25em;
    flex-direction: column;
    align-items: center;
}



ul.footer-list li{
    width: 200px;
    font-family: "Roboto";
    font-size: 1rem;
    color: #b0b5c1;
}

ul>li.list-header{
    font-size: 1.5rem;
    font-weight: 900;
    color: #000000;
}

div.right-footer{
    display: flex;
    flex-direction: column;
}

div.right-footer>h5{
    font-family: 'Roboto';
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 10px;
}

ul.social-list{
    display: flex;
    /* gap: 10px; */
}

ul.social-list>li{
    width: 50px;
}
ul.social-list>li>img{
    width: 30px;
    height: 50px;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 3.7em;
    right: 4em;
    height: 20px;
    width: 30px;
    cursor: pointer;
}

span.bar {
    width: 100%;
    height: 3px;
    background-color: #8e9fbf;
    transition: background-color 300ms ease-in-out;
}

@media(max-width:500px)
{
    html{
        font-size: 6px;
    }
    nav{
        padding: 1em 3em;
    }
    nav ul{
        display: none;
    }

    div.hamburger{
        display: flex;
    }

    div.hero-left>h1,
    div.hero-right>h1 {
        font-family: "Roboto";
        font-size: 2.5rem;
        font-weight: 900;
        white-space: pre-line;
    }
    
    div.hero-left>p,
    div.hero-right>p {
        width: 80%;
        white-space: normal;
        display: block;
        font-family: 'Roboto';
        font-size: 1.5rem;
        font-weight: 300;
        padding-right: 0em;
        margin-top: 2em;
        line-height: 1;
        color: #95a0ae;
        text-align: left;
    }
    
    div.hero-left>button,
    div.hero-right>button {
        margin-top: 3em;
        background: linear-gradient(to right, rgba(8, 180, 246, 1) 50%, rgba(6, 124, 238, 1) 100%);
        width: 70px;
        height: 25px;
        text-align: center;
        font-family: 'Roboto';
        outline: none;
        border: none;
        color: #ffffff;
        font-size: 1rem;
        border-radius: 0.8em;
    }
    
  
    section.feature-section {
        display: flex;
        flex-direction: column;
        padding: 50px 75px;
    }
}