@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&family=Roboto:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    gap: 25vw;
    padding: 50px 75px;
    align-items: center;
    font-family: "Roboto";
    font-weight: 300;
    color: #838384;
}

nav>ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    align-items: center;
}

ul>li {
    display: inline-block;
    width: 80px;
}

nav>ul>li:first-child {
    color: #0a0300;
    font-weight: 700;
}

button.nav-button {
    align-self: flex-start;
    width: 180px;
    height: 50px;
    text-align: center;
    background-color: transparent;
    color: #62a8f3;
    border: 2px solid #62a8f3;
    font-size: 16px;
    font-weight: 900;
    border-radius: 10px;
}

section.hero-section {
    margin-top: 50px;
    padding: 50px 75px;
    display: flex;
    gap: 100px;
}

div.hero-left,
div.hero-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

div.hero-left>h1,
div.hero-right>h1 {
    font-family: "Roboto";
    font-size: 65px;
    font-weight: 900;
    white-space: pre-line;
}

div.hero-left>p,
div.hero-right>p {
    white-space: pre-line;
    display: inline-block;
    /* margin-top: 50px; */
    /* margin-bottom: auto; */
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 300;
    line-height: 1.7;
    color: #95a0ae;
    text-align: left;
    padding-right: 20px;
}

div.hero-left>button,
div.hero-right>button {
    /* margin-top: 50px; */
    background: linear-gradient(to right, rgba(8, 180, 246, 1) 50%, rgba(6, 124, 238, 1) 100%);
    width: 200px;
    height: 50px;
    text-align: center;
    font-family: 'Roboto';
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 17px;
    border-radius: 10px;
}

div.hero-right>img {
    width: 620px;
    height: 470px;
}

section.feature-section {
    display: flex;
    flex-direction: column;
    padding: 50px 75px;
}

div.feature-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.feature-header>h3 {
    white-space: pre-line;
    font-family: 'Roboto';
    font-size: 50px;
    font-weight: 900;
}

div.feature-header>p {
    white-space: pre-line;
    font-family: 'Roboto';
    font-weight: 300;
    color: #abbdd1;
}

div.feature-grid {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 40px;
}

div.feature {
    display: flex;
    font-family: 'Roboto';
    flex-direction: column;
    gap: 10px;
}

div.feature>h3 {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
}

div.feature>img {
    width: 50px;
    height: 50px;
}

div.feature>p {
    white-space: pre-line;
    color: #838384;
}

section.plans {
    padding: 50px 75px;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    color: #ffffff;
    background-color: #09b7f7;
}

div.packages {
    display: flex;
    gap: 40px;
    padding-bottom: 100px;
}

div.package {
    width: 500px;
    background-color: #ffffff;
    display: flex;
    outline: 2px solid black;
    flex-direction: column;
    padding: 50px 0px 50px 40px;
    color: #0a0300;
    outline: none;
    border: none;
    border-radius: 20px;
}

div.package h2 {
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 900;
}

div.package p {
    margin-top: 20px;
    color: #838384;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 100px;
}

ul.plan-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

ul.plan-list>li {
    display: flex;
    gap: 10px;
    width: 350px;
    font-size: 18px;
    font-weight: 500;
}
ul.plan-list>li::before{
    content: '\2713';
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    color: #008000;
    border: 2px solid #008000;
    text-align: center;
}
section.plans>h2 {
    align-self: center;
    font-size: 40px;
    margin-bottom: 100px;
}

div.price{
   margin-left: 35px;
}

div.price>p{
    margin-left: 35px;
    margin-bottom: 30px;
    font-size: 17px;
}

div.price span{
    color: #9ba1b1;
    font-size: 30px;
    letter-spacing: 2px;
}

button.price-btn
{
    display: block;
    margin: 0 auto 0 10px;
    width: 180px;
    height: 50px;
    text-align: center;
    background-color: transparent;
    color: #62a8f3;
    border: 2px solid #62a8f3;
    font-size: 16px;
    font-weight: 900;
    border-radius: 10px;
}

div.popular-head{
    background-color: #353535;
    color: #ffffff;
    padding-left: 0;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 10px;
    height: 150px;
}

div.popular-head >p{
    padding: 0;
    margin: 0;
    margin-top: 10px;
}
div.packages>:nth-child(2)
{
    padding-top: 0;
    padding-left: 0;
}
div.popular-head~ul{
    margin-top: 70px;
    padding-left: 20px;
}

div.popular-head~ul~div{
    padding-left: 35px;
}
div.popular-head~ul~div>button{
    background: linear-gradient(to right, rgba(8, 180, 246, 1) 50%, rgba(6, 124, 238, 1) 100%);
    color: #ffffff;
}

section.review{
    display: flex;
    background-color: #fdfeff;
    flex-direction: column;
    align-items: center;
}

section.review>h1
{
    margin-top: 200px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 50px;
}
section.review>p{
    /* background-color: #fdfeff; */
    margin-bottom: 30px;
    white-space: pre-line;
    text-align: center;
    font-family: 'Roboto';
    font-size: 18px;
    color: #a4aab8;
}
div.review-grid
{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 650px 650px;
    gap: 20px;
    margin-bottom: 100px;
}

div.review-card{
    display: flex;
    flex-direction: column;
     box-shadow: 5px 5px 5px 5px #f1f2f3;
    border: 2px solid #f1f2f3;
    padding: 30px;
    border-radius: 10px;
    gap: 30px;
}

div.author{
    position: relative;
    margin-left: 80px;
    font-family: 'Roboto';
}

div.author::before{
    content: '';
    height: 75px;
    width: 75px;
    background-color: #d9d9d9;
    border-radius: 50%;
    position: absolute;
    bottom: -17px;
    left: -89px;
}
div.content>p{
    font-size: 18px;
    color: #6a728a;
}
div.author>h5{
    margin-bottom: 5px;
    font-size: 18px;
}

section.register-card{
    color: #ffffff;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #18c7f9, #00bbfb, #00adfd, #00a0fd, #0091fc, #0082f8, #0071f2, #045fe9);
    margin-bottom: 200px;
}

div.left-header>h2{
    font-family: "Roboto";
    white-space: pre-line;
    font-size: 50px;
}

div.left-header>p{
    white-space: pre-line;
    font-size: 22px;
    font-weight: 100;
    color: #b9defb;
}

button.register{
    margin-right: 50px;
    width: 180px;
    height: 50px;
    text-align: center;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 18px;
    border-radius: 10px;
    font-family: 'Roboto';
}

footer{
    display: flex;
    font-family: 'Roboto';
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 100px;
}

div.left-footer>p{
    white-space: pre-line;
    color: #b0b5c1;
    line-height: 2;
}
div.mid-footer{
    display: flex;
    gap: 10px;
}
ul.footer-list{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}



ul.footer-list li{
    width: 200px;
    font-family: "Roboto";
    font-size: 17px;
    color: #b0b5c1;
}

ul>li.list-header{
    font-size: 25px;
    font-weight: 900;
    color: #000000;
}

div.right-footer{
    display: flex;
    flex-direction: column;
}

div.right-footer>h5{
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 10px;
}

ul.social-list{
    display: flex;
    /* gap: 10px; */
}

ul.social-list>li{
    width: 50px;
}
ul.social-list>li>img{
    width: 30px;
    height: 50px;
}